.reviewList {
  list-style: none;
}

.singleReview {
  display: flex;
  flex-direction: column;
  border: 1px #c5baaf solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.reviewAuthor {
  font-weight: 700;
  line-height: 1.5rem;
}
